body{
    background-color: white;
}

.green{
    background-color: greenyellow;
}
.white{
    background-color: white;
    align-items: center;
    text-align: center;
}

.image{
    background-color: aqua;

}


.header{
    background-color: #A0C878;
    display: flex;
    justify-items: center;
    max-height: 3em;
}

.flex{
    display: flex;
}