body{
    background-color: white  ;
}

td{
    border: 2px solid black;
}

/* p{
    background-color: aqua;
} */

a{
    background-color: rgb(249, 186, 221);
}


span{
    background-color: rgb(16, 115, 115);
}

.red{
    color: red;
    background-color: whitesmoke;
}
#colour{
    color: blue;
    background-color: aquamarine;
}

input[type="text"]{
    color: blueviolet;
}



